<!DOCTYPE html>
<html>
<head>
  <title>AdminPanelTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= nav_bar do %>
  <%= menu_group pull: :right do %>
    <% if current_user.nil? %>
      <%= menu_item "Log in", new_user_session_path %>
    <% else %>
      <%= menu_item 'Sign out', destroy_user_session_path, method: :delete %>
    <% end %>
  <% end %>
<% end %>

<div class='container'>
  <%= yield %>
</div>

</body>
</html>
